body{
  background: rgb(173, 33, 238)
}

.textarea{
  margin: 0 auto;
  margin-right: auto;
  display: flex;
  color:lightgrey;
  text-align: right;
  font-size:23px;
  width: 324px;
  height: 100px;
  margin: 100px auto 0;
  background-color: black; 
  border-style: solid;
  border-color:black;
  resize: none;
  outline: none;
  user-select: none;
  
}
.first{
  justify-content: center;   
  display: flex;  
}
.second{
  justify-content: center;
  display: flex;  
}
.third{
  justify-content: center;  
  display: flex;  
}
.fourth{
  justify-content: center;
  display: flex;    
}
.fifth{
  justify-content: center; 
  display: flex; 
}

.AC{
  background-color: rgb(166,166,166);
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:block;
  width: 246px;
  height: 70px;
  transition: all 0.2s ease;
  border-style: solid;
  border-color:black;
  outline: none;
}
.AC:hover{
  color: white;
  background-color: rgb(150, 145, 139);
  cursor: pointer;
  transition: all 0.20s ease;
}
.plusminus{
  background-color: rgb(166,166,166);
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:block;
  width: 82px;
  height: 70px;
  transition: all 0.2s ease;
  border-style: solid;
  border-color:black;
  outline: none;
}
.plusminus:hover{
  color: white;
  background-color: rgb(150, 145, 139);
  cursor: pointer;
  transition: all 0.20s ease;
}
.functional{
  background-color: rgb(247, 155, 18);
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:block;
  width: 82px;
  height: 70px;
  transition: all 0.2s ease;
  border-style: solid;
  border-color:black;
  outline: none;
}
.functional:hover{
  color: white;
  background-color: rgb(150, 145, 139);
  cursor: pointer;
  transition: all 0.20s ease;
}

.numbers{
  background-color: rgb(51,51,51);
  color: lightgrey;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:block;
  width: 82px;
  height: 70px;
  transition: all 0.2s ease;
  border-style: solid;
  border-color:black;
  outline: none;
}
.numbers:hover{
  background-color: rgb(150, 145, 139);
  color: rgb(36, 51, 51);
  cursor: pointer;
  transition: all 0.20s ease;
}
#nul{
  width: 164px;
}
.equal{
  background-color: rgb(247, 155, 18);
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:block;
  width: 82px;
  height: 70px;
  transition: all 0.2s ease;
  border-style: solid;
  border-color:black;
  outline: none;
}
.equal:hover{
  color: rgb(36, 51, 51);
  background-color: rgb(150, 145, 139);
  cursor: pointer;
  transition: all 0.20s ease;
}
